matplotlib~=3.7.1
scikit-learn~=1.2.2
requests~=2.30.0
numpy~=1.24.3
pandas~=2.0.1
gym~=0.26.2
sortedcontainers~=2.4.0
websockets~=11.0.3
h5py
more-itertools
pymongo~=4.3.3
pytest
python-dateutil~=2.8.2
pytz~=2023.3
scipy
tzlocal

rl~=3.1
setuptools~=65.5.1